<div class="container">

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @betum.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @betum.email %>
	</p>

	<p>
	  <strong>Expected number listeners:</strong>
	  <%= @betum.expected_number_listeners %>
	</p>

	<%= link_to 'Edit', edit_betum_path(@betum) %> |
	<%= link_to 'Back', root_path %>

</div>

<br><br>

    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                 <!-- <h2>About</h2> -->
                  <br>
                     <%= image_tag("Visualizer.png", class: "img-responsive middle") %>
                      <h2 style="color: white;">Why Storyboard?</h2> 
                     <hr class="star-light">
                </div>

                <div class="col-md-6">
                     <h2><b>Podcasting for Teams</b></h2> <p>25% of Americans are now regularly listening to podcasts. However, teams and companies still largely communicate over email, where competition for attention is fierce. Want to make a podcast for your team but keep it private? Storyboard makes this easy.</p>
                </div>
                <div class="col-md-6">
                  <h2><b>Easy Listening</b></h2>
                    <p>For your listeners, they will simply download the Storyboard App after receiving a verification code when you register. After we confirm the listener, they can download your episodes to listen in the car, on a flight, or wherever they enjoy listening to podcasts.</p>
                </div>
                <br>
            </div>
        </div>
        <br><br>
    </section>  

    <!-- Reddit Conversion Pixel -->
<script>
var now=Date.now();var i=new Image();i.src="https://alb.reddit.com/snoo.gif?q=CAAHAAABAAoACQAAAAAAmG_bAA==&s=8UGoitauuGLN3-RB5IaXFtfUclHqr-yBDjs-mMzxaFE=&ts="+now;
</script>
<noscript>
<img height="1" width="1" style="display:none"
src="https://alb.reddit.com/snoo.gif?q=CAAHAAABAAoACQAAAAAAmG_bAA==&s=8UGoitauuGLN3-RB5IaXFtfUclHqr-yBDjs-mMzxaFE="/>
</noscript>
<!-- DO NOT MODIFY -->
<!-- End Reddit Conversion Pixel -->
