<div style="margin-left: 20px;">
  <h1> List of Podcasts </h1>

  <table>
    <tr>
      <th>Show Name</th>
      <th>Image</th>
      <th>Episode Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Paywall</th>
      <th>Audio</th>
    </tr>

    <% @podcasts.each do |f| %>
      <tr>
        <td><%= f.show.name %></td>
        <td>
          <% if f.show.image.present? %>
            <%= image_tag(f.show.image.thumb.url)%>
          <% else %>
            <strong>Image not found!</strong>
          <% end %>
        </td>
        <td><%= f.name %></td>
        <td><%= f.description %></td>
        <td><%= f.date ? f.date.strftime("Telecast on %m/%d/%Y") : "Not Present" %></td>
        <td><%= f.paywall %></td>
        <td>
          <% if f.audio.present? %>
            <%= audio_tag(f.audio, autoplay: false, controls: true) %>
          <% else %>
            <strong> File uploading in-process... </strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>  
</div>

<script type="text/javascript">
  setInterval(function () {
    reloadPodcasts()
  }, 120000);

  function reloadPodcasts(){
    $.ajax({
      type: "GET",
      url: "<%= podcasts_path %>",
      success : function() {
        location.reload();
      }
    });
  }
</script>
